<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trust.demo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".code.tinker.TrustApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base">
        <activity android:name=".MainActivity" />
        <activity android:name=".code.QuanXian.QuanXianActivity" />
        <activity android:name=".code.QuanXian.TipActivity" />

        <service android:name=".code.QuanXian.MonitorService" />

        <activity android:name=".code.ndk.JniActivity" />
        <activity android:name=".ChooseActivity" />
        <activity
            android:name=".code.rxseries.RxActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".code.bluetooth.BlueToothActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".ui.qr.QRActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".code.perssion.PerssionActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".code.bluetooth.BlueDeviceActivity"
            android:theme="@style/SwipeBack" />

        <service android:name=".code.server.TrustServer" />

        <activity android:name=".BaseActivity" />
        <activity
            android:name=".ui.glide.glide.GlideActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".code.rxseries.RxJavaActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".code.rxseries.RetrofitActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".code.rxseries.RxBindingActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".ui.cardrotation.ViewPagerActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".ui.cardrotation.RotateActivity"
            android:theme="@style/SwipeBack" />
        <activity android:name=".code.tinker.TinkerActivity" />

        <service
            android:name=".code.tinker.TrustServer"
            android:exported="false" />

        <activity android:name=".code.gsonparsing.GsonParsingActivity" />
        <activity android:name=".main.MainControllActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Coordinator.HoverActivity">



        </activity>
    </application>

</manifest>