<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trust.demo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".tinker.TrustApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base">
        <activity android:name=".MainActivity" />
        <activity android:name=".QuanXian.QuanXianActivity" />
        <activity android:name=".QuanXian.TipActivity" />

        <service android:name=".QuanXian.MonitorService" />

        <activity android:name=".ndk.JniActivity" />
        <activity android:name=".ChooseActivity"></activity>
        <activity
            android:name=".rxseries.RxActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".bluetooth.BlueToothActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".QRActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".perssion.PerssionActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".bluetooth.BlueDeviceActivity"
            android:theme="@style/SwipeBack" />

        <service android:name=".server.TrustServer" />

        <activity android:name=".BaseActivity" />
        <activity
            android:name=".glide.GlideActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".rxseries.RxJavaActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".rxseries.RetrofitActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".rxseries.RxBindingActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".viewPager.ViewPagerActivity"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".RotateActivity"
            android:theme="@style/SwipeBack" />
        <activity android:name=".tinker.TinkerActivity" />

        <service
            android:name=".tinker.TrustServer"
            android:exported="false" />

        <activity android:name=".gsonparsing.GsonParsingActivity" />
        <activity android:name=".main.MainControllActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.Base">


        </activity>
    </application>

</manifest>